.worldContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}

.worldListContainer{
    border: 1px solid rgb(217, 21, 150);
    display: grid;
    grid-template-columns: 1fr;
}

.worldListContainer details{
    border: 1px solid rgb(217, 21, 150);
    font-size: small;
}
.worldListContainer summary{
    border: 1px solid rgb(217, 21, 150);
    font-size:large;
}

.worldDetailsContainer{
    border: 1px solid rgb(217, 21, 150);
}

.regionEntry{
    border: 1px solid rgb(217, 21, 150);
    margin: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.regionName{
    font-size: large;
    margin: 5px;
}
.regionIcon{
    margin-right: 5px;
}

.regionDetails{
    margin: 5px;
    margin-left: 10px;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    background-color: #220a2b;
    border-radius: 5px;
    padding: 5px;
    
    
}
.regionDetails h4{
     border-bottom: 1px solid rgb(217, 21, 150);
     margin: 5px;
}
.regionDetails p{
    margin: 2px;
}

.regionDetailsModifiers .modifierEntry{
    margin-left: 10px;
}

.regionDetailsSettlements{
    margin: 5px;
    margin-left: 0px;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    border-radius: 5px;
   
}
.regionDetailsSettlements .settlementEntry{
    margin: 5px;
    margin-left: 5px;
  border: 1px solid rgb(217, 21, 150);
  cursor: pointer;
  border-left: 6px solid rgb(217, 21, 150);
  border-radius: 5px;
    
}

.settlementEntry:hover{
    border-left: 7px solid rgb(245, 135, 207);
    background: #3b103f;
}
.regionDetailsSettlements h4{
    border-bottom: 1px solid rgb(217, 21, 150);
    
}

.regionDetailsLocations{
    margin: 5px;
    margin-left: 0px;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    border-radius: 5px;
    
}

.regionDetailsLocations .locationEntry{
    margin: 5px;
    margin-left: 5px;
  border: 1px solid rgb(217, 21, 150);
  cursor: pointer;
  border-left: 6px solid rgb(217, 21, 150);
  border-radius: 5px;
    
}

.locationEntry:hover{
    border-left: 7px solid rgb(245, 135, 207);
    background: #3b103f;
}

.settlementIcon ,.locationIcon{
    margin: 5px;
    margin-bottom: 0px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
