
/* ######################################### WORLD CONTAINER ##################################################*/
.worldContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.worldListContainer{
    border: 1px solid rgb(217, 21, 150);
    /* display: grid;
    grid-template-columns: 1fr; */
}

.worldListContainer details{
    border: 1px solid rgb(217, 21, 150);
    font-size: small;
}
.worldListContainer summary{
    border: 1px solid rgb(217, 21, 150);
    font-size:large;
}

/* ######################################### REGION CONTAINER ##################################################*/
.worldRegionContainer{
    border: 1px solid rgb(217, 21, 150);
}

.worldRegionDetailsContainer{
    border: 1px solid rgb(217, 21, 150);
}

.worldDetailsContainer{
    border: 1px solid rgb(217, 21, 150);
    height: 640px;
    overflow-y: auto;
}


.regionEntry{
    border: 1px solid rgb(217, 21, 150);
    margin: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.regionName{
    font-size: large;
    margin: 5px;
}
.regionIcon{
    margin-right: 5px;
}

.regionDetails{
    margin: 5px;
    margin-left: 5px;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    background-color: #220a2b;
    border-radius: 5px;
    padding: 5px;
    
    
}
.regionDetails h4{
     border-bottom: 1px solid rgb(217, 21, 150);
     margin: 5px;
}
.regionDetails p{
    margin: 2px;
}

.regionDetailsModifiers .modifierEntry{
    margin-left: 10px;
}

.regionDetailsSettlements{
    margin: 5px;
    margin-left: 0px;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    border-radius: 5px;
   
}
.regionDetailsSettlements .settlementEntry{
    margin: 5px;
    margin-left: 5px;
  border: 1px solid rgb(217, 21, 150);
  cursor: pointer;
  border-left: 6px solid rgb(217, 21, 150);
  border-radius: 5px;
    
}

.settlementEntry:hover{
    border-left: 7px solid rgb(245, 135, 207);
    background: #3b103f;
}
.regionDetailsSettlements h4{
    border-bottom: 1px solid rgb(217, 21, 150);
    
}

.regionDetailsLocations{
    margin: 5px;
    margin-left: 0px;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    border-radius: 5px;
    
}

.regionDetailsLocations .locationEntry{
    margin: 5px;
    margin-left: 5px;
  border: 1px solid rgb(217, 21, 150);
  cursor: pointer;
  border-left: 6px solid rgb(217, 21, 150);
  border-radius: 5px;
    
}

.locationEntry:hover{
    border-left: 7px solid rgb(245, 135, 207);
    background: #3b103f;
}

.settlementIcon ,.locationIcon{
    margin: 5px;
    margin-bottom: 0px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
/* ######################################### SETTLEMENT CONTAINER ##################################################*/

.settlementDetails{
    background-color: #220a2b;
    border: 1px solid aliceblue;
    border-left: 5px solid aliceblue;
    border-radius: 5px;
    margin: 5px;
    margin-left: 5px;
}

.settlementnName{
    font-size: large;
    margin: 5px;
}
.settlementDetailsIcon{
    margin-right: 5px;
}

.settlementDetails h4{
    margin: 5px;
    margin-left: 5px;
    border-bottom: 1px solid rgb(217, 21, 150);
}
.settlementDetails p{
    margin: 0px;
    margin-left: 5px;
}
.settlementDetails .npcEntry{
    margin-left: 0px;
}
.settlementDetails .modifierEntry{
    margin-left: 10px;
}
.settlementDetails .districtEntry{
    margin-left: 10px;
}

/* #################################################### NPC #################################### */

.npcRow{
    display: flex;
  align-items: anchor-center;
}
.settlementNpcIcon{
    width: 25px;
  height: 25px;
}

/* #################################################### DISTRICT #################################### */
.districtRow{
    margin-left: 5px;
}